<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>TheWall</title>
</head>


<body>
    <div class="Nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div style="background-color: rgb(40, 79, 233);" class="container-fluid">
                <a style=" margin-left: 30px; padding-right: 60%;" class="navbar-brand" href="#">The Dojo Wall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a style="margin-right: 20px;" class="nav-link active">Welcome,
                                {{logged_user.first_name}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="wall/logout">log off</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div style="width: 100%;" class="row">
        <div style="  width: 80%; padding-left: 10%;" class="col-lg-6">
            <div style="margin-left:60px;" class="card">
                <div style=" background-color: grey;" class="card-body">

                    <h3>Post a Message!</h3>
                    <form action="/post_message" method="post" id="message">
                        {% csrf_token %}
                        <textarea style=" background-color: rgb(40, 79, 233);  height: 100px; width: 85%;"
                            name="message" cols="25" rows="10"></textarea>
                        <div>
                            <input style="margin-left: 2%; background-color: rgb(40, 79, 233);" type="submit"
                                value="Post a Message">
                        </div>
                    </form>
                    <div class="posts">
                        {% for post in message_wall %}
                        <div class="a_post">
                            <div class="post-details">
                                <h6>Message From: {{post.author.first_name}} {{post.author.last_name}}
                                    {{post.created_at}}</h6>
                            </div>
                            <div class="message-content">
                                <p style="font-size: 24px;" class='post'>{{post.message}}</p>
                            </div>
                            
                            {% if post.author.id == request.session.userid %}
                            <a style="margin-left: 60%; color: red;" href="/message_delete/{{post.id}}">Delete_Message</a>
                            {% endif %}
                            <div style="padding-left: 20px;" class="show_comment">
                                {% for comment in post.post_comments.all %}
                                <h6>Comment From: {{comment.author.first_name}} {{comment.author.last_name}} {{comment.created_at}}</h6>
                                <p style="font-size: 24px; ">{{comment.comment}}</p>
                                {% if comment.author.id == request.session.userid %}
                                <a style="margin-left: 55%; color: red;" href="/comment_delete/{{comment.id}}">Delete_Comment</a>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="comment">
                                <h65>Post a Comment to {{post.author.first_name}}'s Message</h6>
                                    <form action="/comment/{{post.id}}" method=POST>
                                        {% csrf_token %}
                                        <textarea style=" height: 60px; width: 55%;" name="comment" cols="25"
                                            rows="10"></textarea>
                                        <div>
                                            <input style="margin-left: 12px; background-color: green;" type="submit"
                                                value="Leave a Comment">
                                        </div>
                                    </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>


</html>